{% extends '::base.html.twig' %}

{% block title %} Sign In! {% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-md-12">
            <div id="form-holder">
                <form action="#" method="post">

                    <h1>Enter e-mail</h1>

                    {{ form_widget(forgotpasswordForm) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}