{% extends '::base.html.twig' %}

{% block title %} Sign In! {% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-md-12">
            <div id="form-holder">
                <h1>email sent</h1>
            </div>
        </div>
    </div>

{% endblock %}