{% extends '::base.html.twig' %}

{% block title %} Sign Up! {% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-md-12">
            <div id="form-holder">
                <form action="#" method="post">
                    <h1>Sign Up</h1>

                    {{ form_widget(registrationForm) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/app.js') }}"></script>

{% endblock %}